body {
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    min-width: 320px;
}

a, a:visited {
    color: #3B7FD8;
    /*color: #BF6830;*/
    text-decoration: none;
}
a:hover, a:focus {
    /*color: #FF8B40;*/
    text-decoration: underline;
    outline: none;
}
p {
    margin-bottom: 21px;
}
.post p {
    text-indent: 1em;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Vollkorn", Georgia, Serif;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 8px;
}
h1 {
    font-size: 30px;
    line-height: 38px;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 400;
}
h2 {
    font-size: 28px;
    margin-bottom: 8px;
    text-align: left;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 20px;
    margin-bottom: 4px;
}
h1 a, h1 a:hover, h2 a, h2 a:hover {
    text-decoration: none;
}
h1 a, h1 a:visited, h2 a, h2 a:visited {
    color: #333;
}
h2 a:hover {
    color: #3B7FD8;
}
h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

code {
    font-family: Courier, monospace;
    font-size: 15px;
    background-color: #E9E9E9;
    padding: 3px;
    border-radius: 2px;
}
pre {
    margin: 15px 0;
}

.post img.media {
    margin: 30px auto;
    display: block;
}
small {
    font-size: 14px;
}
button {
    background-color: #D8A33B ;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 15px;
    border: none;
    color: #6e4903;
}
button:active {
    padding-top: 5px;
    padding-bottom: 3px;
}
button:hover, button:focus {
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}

li {
    margin: 0 20px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}    
center {
    margin-bottom: 20px;
}

.date {
    font-family: Monaco, 'Courier New', monospace;
    font-size: 14px;
    color: #B3B3B3;
}

article {
    text-align: justify;
}
header {
    text-align: right;
}
.meta p {
    color: #B3B3B3;
}

.highlight pre {
    padding: 10px 20px;
    line-height: 20px;
}


/* LAYOUT */
.cccookie-box {
    height: 180px;
    position: absolute;
}
header {
    width: 22%;
    position: fixed;
    min-width: 188px;
    min-height: 100%;
    border-right: 1px solid #e3e3e3;
}
header .meta {
    position: relative;
    overflow: hidden;
    padding: 25px 25px 25px 10px;
    margin-top: 180px;
}
header div.meta ul li {
    overflow: hidden;
}
header div.meta h1 {
    float: right;
    max-width: 200px;
}
header .nav {
    position: relative;
    max-width: 370px;
    float: right;
    z-index: 2;
}

section {
    margin-left: 22%;
    padding: 20px 0;
    position: relative;
    z-index: 2;
}
article, nav {
    padding: 0 25px;
}
article, .pt-social {
    max-width: 575px;
}
article {
    padding-top: 20px;
    padding-bottom: 20px;
}
.post {
    margin: 20px 0;
}
.cccookie-box {
    left: -114px;
    top: -133px;
}
.cccookie-box:hover {
    left: -85px;
    top: -75px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-property: top, left;
}


@media (max-width: 760px) {
    header {
        display: block;
        position: relative;
        width: auto;
        margin: 0 auto;
        max-width: 625px;
        border: none;
    }
    header .meta {
        margin: 0;
        padding-top: 0;
    }
    header div.meta h1 {
        max-width: 150px;
    }
    header .nav li {
        display: inline;
        margin-left: 20px;
    }
    section {
        margin: 0;
    }
    article, nav {
        max-width: 575px;
        margin: 0 auto;
    }
    .cccookie-dough {
        z-index: 1;
    }
}

/* REWARDS */
.user-section {
    min-height: 300px;
}
.box {
    margin-bottom: 15px;
    overflow: hidden;
}
.footer {
    margin: 20px 0;
    border-top: 1px solid #e3e3e3;
    color: #B3B3B3;
    font-size: 14px;
}
.ribbon {
    background: url(//static.punchtab.com/img/ribbon_earning_map.png) no-repeat center;
    width: 11px;
    height: 11px;
    display:inline-block;
}
.pt-point {
    font-weight: bold;
}
.chocolate-chip {
    color: #6e4903;
}
.me {
    font-size: 18px;
    font-style: italic;
}
.activities {
    min-height: 240px;
}
.activities li {
    line-height: 24px;
    height: 24px;
}
.activities li .date {
    display: none;
}
.activities li:hover {
    cursor: pointer;
}
.activities li:hover .date {
    display: inline;
}

.reward {
    overflow: hidden;
    width: 400px;
}
.reward .text, .reward .image {
    float: left
}
.reward .image {
    width: 35%;
}
.reward .text {
    text-align: center;
}

.pt-social {
    margin-left: 0px !important;
    overflow: hidden !important;
}
.pt-social div {
    width: 33%;
    text-align: center;
}

.barbe-loader, .ajax-loader {
    background: url(../images/ajax-loader.gif) no-repeat center;
    width: 16px;
    height: 16px;
    position: relative;
    margin: 0 auto;
}

.cccookie-notification {
    position: absolute;
    left: 43%;
    top: 60%;
    font-size: 40px;
    color: #D8A33B;
}
