body, html {
    height: 100%;
    min-height: 100%;
}
body {
    color: #333;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    min-width: 320px;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #3B7FD8;
    /*color: #BF6830;*/
    text-decoration: none;
}
a:hover, a:focus {
    /*color: #FF8B40;*/
    text-decoration: underline;
    outline: none;
}
p, ul {
    margin-bottom: 16px;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

.post img {
    width: 100%;
    text-align: center;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    padding-left: 0.1em;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ol {
    list-style: decimal;
    margin-left: 2.5em;
}

blockquote {
    margin-left: 2em;
    padding-left: 0.5em;
    border-left: 4px solid #E9E9E9;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Sans", sans-serif;
    font-size: 26px;
    margin-bottom: 8px;
    text-rendering: optimizeLegibility;
    font-weight: 300;
    text-align: left;
}
h1 {
    font-size: 2.5em;
    line-height: 1.2em;
}
h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.2em;
    text-align: left;
    line-height: 40px;
}
h3 {
    margin-bottom: 8px;
    padding-top: 14px;
    font-size: 1.5em;
}
h4 {
    font-size: 20px;
    margin-bottom: 4px;
}

a h1, a:hover h1, h2 a, h2 a:hover {
    text-decoration: none;
}
a h1, a:visited h1, h2 a, h2 a:visited {
    color: #333;
}
a:hover h1, h2 a:hover,
a:focus h1, h2 a:focus {
    color: #3B7FD8;
}

code {
    font-family: Courier, monospace;
    font-size: 15px;
    background-color: #E9E9E9;
    padding: 3px;
}
.highlight code {
    background: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


pre {
    margin: 15px 0;
    text-align: left;
}

.post img.media {
    margin: 30px auto;
    display: block;
    width: 90%;
}
small {
    font-size: 14px;
}
button {
    background-color: #D8A33B ;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 15px;
    border: none;
    color: #6e4903;
}
button:active {
    padding-top: 5px;
    padding-bottom: 3px;
}
button:hover, button:focus {
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}

.post ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 10px;
}

.cta {
    text-align: center;
    font-size: 1.4em;
    margin-top: 1.4em;
}
.cta .octicon {
    padding-right: 0.5em;
    font-size: 1.2em;
}

#footnotes {
    margin-top: 4em;
}

.footnotes li p {
    margin-bottom: 0;
}
.footnotes .active {
    background-color: #E9E9E9;
}

li {
    margin: 5px 0;
    line-height: 25px;
}
center {
    margin-bottom: 20px;
}

.date {
    font-family: Monaco, 'Courier New', monospace;
    font-size: 14px;
    color: #B3B3B3;
}

table {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
thead {
    border-bottom: 1px solid #e3e3e3;
    font-style: italic;
}

article {
    text-align: justify;
}
.meta p {
    color: #B3B3B3;
}

.highlight {
    margin-bottom: 2em;
    overflow-y: scroll;
}
.highlight pre {
    padding: 10px 20px;
    line-height: 20px;
}


/* LAYOUT */
.sidebar {
    position: relative;
    float: left;
    min-width: 200px;
    margin-bottom: 3em;
}
.sidebar .meta {
    position: relative;
    overflow: hidden;
    padding: 25px 25px 25px 10px;
    margin-top: 180px;
    text-align: right;
}
.sidebar div.meta ul li {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.sidebar div.meta h1 {
    float: right;
    max-width: 195px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 400;
    text-align: right;
}
.sideba.sidebar .nav {
    position: relative;
    max-width: 370px;
    float: right;
}

section {
    margin-left: 230px;
    position: relative;
    min-height: 100%;
    border-left: 1px solid #e3e3e3;
}

header {
    margin-bottom: 2em;
}

aside {
    padding: 0 20px;
}
article, nav {
    padding: 10px 25px;
}
article, .pt-social {
    max-width: 575px;
}
article {
    padding-top: 20px;
}
.post {
    margin: 0 0 20px 0;
}

.circle img {
	border-radius: 6px;
}


.desktop {
    display: block;
}
span.desktop {
    display: inline;
}
.mobile {
    display: none;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media (max-width: 760px) {
    .desktop, span.desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .sidebar {
        display: block;
        width: auto;
        margin: 0 auto;
        max-width: 625px;
        border: none;
        float: none;
    }
    .sidebar .meta {
        margin: 0;
        padding-bottom: 0;
        padding-top: 0;
        margin-left: 115px;
        float: right;
    }
    .cookie-box {
        left: -80px !important;
    }
    .sidebar div.meta h1 {
        max-width: 150px;
    }
    .sidebar div.meta .nav li {
        display: inline;
        margin-left: 20px;
    }
    .sidebar .meta p {
        margin-bottom: 5px;
    }
    section {
        padding: 0;
        margin: 0;
        height: auto;
        border: none;
    }
    article, nav {
        max-width: 575px;
        margin: 0 auto;
    }
    .post {
        margin: 5px 0;
    }
    li {
        margin-left: 0;
        margin-right: 0;
    }
}


circle.dough {
    fill: #D8A33B;
}
circle.chip {
    fill: #6E4901;
}
path {
    fill: #fff !important;
    opacity: 0;
}
.cookie-box {
    position: absolute;
    left: -30px;
    top: -30px;
    width: 200px;
    height: 200px;
}

.vi {
    margin-top: 1em;
}

#projects > div {
    margin-bottom: 20px;
}

#projects p {
    margin-bottom: 6px;
}
