---
layout: default
---

<nav>
    <a href="/" title="Back (ESC)"><span class="octicon octicon-arrow-left"></span></a>
</nav>

<article class="post {{ page.permalink }}">
    <header>
        <h1 class="">{{ page.title }}</h1>
        <div class="date">
            <span>{{ page.date | date: "%d %B %Y" }}</span>
        </div>
    </header>

    <div class="post">{{ content }}</div>
</article>

<aside>
    Tags: <em>{{ page.tags| join: ', ' }}</em>
</aside>

<nav>
    <a href="/" title="Back (ESC)"><span class="octicon octicon-arrow-left"></span></a>
</nav>

<script>
var sups = document.querySelectorAll('sup');
for (var i = 0; i < sups.length; i++) {
    sups[i].addEventListener('mouseover', function (e) {
        var id = e.target.hash.replace('#', '');
        document.getElementById(id).classList.add('active');
    });

    sups[i].addEventListener('mouseout', function (e) {
        var id = e.target.hash.replace('#', '');
        document.getElementById(id).classList.remove('active');
    });
}
</script>
