---
layout: default
---

<nav>
    <a href="/" title="Back">&larr;</a>
</nav>

<article class="post">
    <h2 class="">{{ page.title }}</h2>
    <div class="date">
        <span>{{ page.date | date: "%d %B %Y" }}</span>
    </div>

    <div class="post">{{ content }}</div>
</article>

<nav>
    <div class="pt-social" data-layout="inline"></div>
    <a href="/" title="Back">&larr;</a>
</nav>

<script type="text/javascript">
window.setTimeout(function () {
    _ptq.push(['view', {points: 400, ref_id: document.location.pathname}])
}, 10 * 1000);
</script>
